django
django-mptt
djangorestframework
-e git+git@github.com:django-mptt/django-mptt.git@origin/master#egg=django-mptt
django-extensions
model_mommy
ipython
ipdb
django-activity-stream
rest-framework-generic-relations
Pillow
-e git+git@github.com:justquick/django-activity-stream.git@master#egg=django-activity-stream
-e git+git@github.com:elcolie/django-geoposition.git@master#egg=django-geoposition